<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535542770116-a06oqi5nkibft1l8d9dnaj03d2un6ugk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535542770116-a06oqi5nkibft1l8d9dnaj03d2un6ugk</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjKRG0iXmX8U_KB0C8vJUAJF51BQUjRM</string>
	<key>GCM_SENDER_ID</key>
	<string>535542770116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gb.clientServerVk</string>
	<key>PROJECT_ID</key>
	<string>clientservervk</string>
	<key>STORAGE_BUCKET</key>
	<string>clientservervk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535542770116:ios:f3e6b7e53ff612f2689c91</string>
</dict>
</plist>